@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-new-green-300: #dff6d1;
  --color-new-blue-300: #086099;
  --color-new-dark-300: #5d5d5d;
  --color-new-light-500: #fefefe;
  --color-new-dark-500: #4f4f4f;
  --color-new-green-500: #50a42a;
  --color-new-blue-500: #0a2d47;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.4s ease-in-out;
  font-family: "Inter", sans-serif;
  /* overflow-x: hidden; */
  /* scrollbar-width: none; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  overflow: hidden;
}

section {
  position: relative;
  padding: 5.7% 3%;
  overflow: hidden;
}
nav {
  padding: 8px 3%;
}

.p-btn img {
  position: absolute;
}
.copy {
  transform: translate(-150%, 150%);
  color: var(--color-new-blue-500);
}
.serv-btn:hover .copy {
  transform: translate(0);
  color: var(--color-light-blue-500);
}
.serv-btn:hover .first {
  transform: translate(150%, -150%);
}

.label {
  display: block;
  position: absolute;
  top: 50%;
  left: 62px;
  color: var(--color-new-blue-500);
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  background-color: var(--color-new-green-300);
  transform: scale(1) translateY(-50%);
  transition: all 0.3s ease;
}
.inputs:focus ~ .label,
.inputs:not(:placeholder-shown) ~ .label {
  top: -20px;
  transform: scale(0.7);
  padding: 5px 10px;
  left: 20px;
}

.layer::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
}

@media (max-width:1170px) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 30px;
  }
}
@media (max-width:460px) {
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 25px;
    line-height: 1.1;
  }
  p{
    font-size: 16px;
    line-height: 1.1;
  }
  .txt{
    font-size: 25px;
  }
  .calc > button{
    padding: 5px 15px;
    font-size: 15px;
  }
}
.faq-heading{
  font-size: 20px !important;
}


canvas{
  padding: 20px;
  width: 400px;
  height: 400px;
}
@media (width < 48rem) {
  .menu-container {
    transform: translateX(-100%);
  }
  .open-menu-container {
    transform: translateX(0) !important;
  }
}
